::selection {
    color: #fff;
    background: #a42422;
}
*
{
    font-Family:"IBM Plex Sans Arabic";
}
 .row
 {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
 }
 
 /***** logo ******/


 .logo
 {
    padding:  13px ;
 }

 /******** left side *****/
 .left-side
 {
    display: flex;
 }

img
{
    width: 30%;
    padding-top: 25px;
    cursor: pointer;

}

.text 
{
    border-left: solid 2px #5ea09b;
    padding-top: 20px;
        padding-left: 10px;

}
.text span 
{
    font-size: 14px;
}

 /******** center side *****/
 .center-side
 {
    padding-top: 12px;
 }

 .center-side h5
 {
    color: #0b6861;
    font-size: 19px;
    text-align: center;
 }
.center-side h4 
{
    color: #0b6861;
    font-size: 16px;
    text-align: center;
}

/***/
.nav
{
      margin-top: 30px;
      margin-left: 50px;
}
 .nav li
 {
    padding: 0px 6px;
    font-size: 18px;
    font-weight: 500;      
    font-Family:"IBM Plex Sans Arabic";

 }
.nav li
{
    list-style: none;
}
.nav li a 
{
    color: #000;

}
.home i 
{
    color: #fff;
    background-color: rebeccapurple;
}
 /******** right side *****/
.right-side 
{
text-align: end;
}
.right-side img 
{
    padding-right: 25px;
    width: 23%;
}





/*********** testimonials************/
.multiple-items 
{
    margin:30px 105px 0 105px ;
     border-top: 7px solid #cf7908 ;
     background-color: #fff;
}

  
.testimonials-item 
{
    text-align: center; 
    border-right: solid 2px gray ;
    margin-top:  12px;
}
.spicial 
{
    border: none;
    
}


/***********alraaei************/


.alraaei
{
    background-color:#f9f9f9;
    padding-top: 65px;
    position: relative;
    top: -40px;
    z-index: -1;
}

.poster img
{
    width: 100%;
    display: block;
}

.article
{
    margin-top: 30px;
text-align: end;
}

.article h3
{
    color: #00a090;
    font-family: 'IBM Plex Sans Arabic' !important;
    font-weight: 700;


    font-size: 32px;
  
  }

.article p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
    direction: rtl;

}
 
.title-section h4
{
    direction: rtl;
    text-align: right;
    font-weight: 700 ;
    color: #04645c;
}
.form 
{
    background-color: #fff;
    padding: 20px;
    margin: 40px;
    
}
.left-form h3
{
    color: #00a090;
    font-family: 'IBM Plex Sans Arabic' !important;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 26px;
}

.left-form p 
{
    font-weight: 500;
}

.text
{
    border: none;
    border-bottom: 1px saddlebrown solid;
}
 
 .Subscribe
 {
     padding: 10px 18px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .Subscribe:hover 
  {
    background-color: red;
  }

  .rightSide 
  {
    text-align: center;
    padding-top: 25px;

  }

  .right-side h5
  {
    font-weight: 700;
    font-family: 'IBM Plex Sans Arabic' !important;
  }
 