::selection {
    color: #fff;
    background: #a42422;
}
*
{
    font-Family:"IBM Plex Sans Arabic";
}
body
{

 overflow-x: hidden;
}
 .row
 {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
 }
 
 /***** logo ******/


 .logo
 {
    padding:  13px ;
    
 }

 /******** left side *****/
 .left-side
 {
    display: flex;
 }

img
{
    width: 45%;
    padding-top: 25px;
    cursor: pointer;

}

.text 
{
     padding-top: 30px;
        padding-left: 10px;

}
.history
{
    font-weight: 700;
    Color:#0b6861
}
.empty
{
    margin-top: 10px;
    background-color: #5ea09b;
    width: 2px ;
    height: 110px;
}
.text span 
{
    font-size: 14px;
}

 /******** center side *****/
 .center-side
 {
    padding-top: 28px;
 }

 .center-side h5
 {
    color: #062c2c;
    font-size: 19px;
    text-align: center;
    font-family: "IBM Plex Sans Arabic";
    font-weight: bolder;
    line-height: 15px;
 }
.center-side h4 
{
    color: #062c2c;
    font-size: 16px;
    text-align: center;
    font-family: "IBM Plex Sans Arabic";
    font-weight: bolder;
}

/***/
.nav
{
      margin-top: 30px;
      margin-left: 120px;
}
 .nav li
 {
    padding:  7px;
    font-size: 15px;
    font-weight: 500;      
    font-Family:"IBM Plex Sans Arabic";
    list-style: none;
    transition: all .7s;
    
 }
 .home 
 {
    background-color: #000;
    padding: 8px 7px  ;
    border-radius: 7px;
    font-size: 17px;
  }
 
.nav li a 
{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    transition: all .7s;

}

.nav li:hover 
{
    background-color: #000;
    color: #fff;
}

.nav li:hover a 
{
    color: #fff;
}
.home i 
{
    color: #fff;
    background-color: rebeccapurple;
}
 /******** right side *****/
 .right-side
 {
    margin-top: 10px;
 }
 
 .logoLeft img 
 {
    margin-left: 60px;
    width: 40%;
 }
 .logoLeft span 
{
    margin-left: 50px;
    font-family: "IBM Plex Sans Arabic";
    font-weight: bolder;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
 

.logoRight img 
{
    width: 65%;
}
.logoRight span
{
    /* margin-left: 50px; */
    font-family: "IBM Plex Sans Arabic";
    font-weight: bolder;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.logoicons
{
    display: flex;
    text-align: center;
}



.menue 
{
     height: 30px;
}
#show 
{
    color: #a42422;
    cursor: pointer;
    display: none;
}
#menuecontent
{
     position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    background-color: #a42422;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: all 0.7s;
    }

.list-item
{
    list-style: none;
    margin-top: 70px;
}
.items
{
     position: relative;
     border-bottom: #fff 1px solid;
     margin: 5px;
     padding: 4px;
}
.items a 
{
    text-decoration: none;
    color: #fff;
    font-family: "IBM Plex Sans Arabic";
    font-weight: 590;
    font-size: 12px;
}
.rightarrow
{
    width: 8px;
     position: absolute;
     top: -22px;
     right: 10px;
 }

 #close
 {
    cursor: pointer;
     position: absolute;
     right:20px;
     top: 10px;
    }
 
  
/*********** testimonials************/
.multiple-items 
{
    margin:30px 105px 0 105px ;
     border-top: 7px solid #cf7908 ;
     background-color: #fff;
}

  
.testimonials-item 
{
    text-align: center; 
    border-right: solid 2px gray ;
    margin-top:  12px;
}
.spicial 
{
    border: none;
    
}


/***********alraaei************/


.alraaei
{
    background-color:#f9f9f9;
    padding-top: 65px;
    position: relative;
    top: -40px;
    z-index: -1;
}

.poster img
{
    width: 100%;
    display: block;
}

.article
{
    margin-top: 30px;
text-align: end;
}

.article h3
{
    color: #00a090;
    font-family: 'IBM Plex Sans Arabic' !important;
    font-weight: 700;


    font-size: 32px;
  
  }

.article p
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
    direction: rtl;

}
 
.title-section h4
{
    direction: rtl;
    text-align: right;
    font-weight: 700 ;
    color: #04645c;
}
.form 
{
    background-color: #fff;
    padding: 20px;
    margin: 40px;
    
}
.left-form h3
{
    color: #00a090;
    font-family: 'IBM Plex Sans Arabic' !important;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 26px;
}

.left-form p 
{
    font-weight: 500;
}

.textform
{
    border: none;
    border-bottom: 1px saddlebrown solid;
}
 
 .Subscribe
 {
     padding: 10px 18px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .Subscribe:hover 
  {
    background-color: red;
  }

  .rightSide 
  {
    text-align: center;
    padding-top: 25px;

  }

  .right-side h5
  {
    font-weight: 700;
    font-family: 'IBM Plex Sans Arabic' !important;
  }
 /**************** media 1200-992 *****************/


 @media screen and (max-width:1300px)and (min-width:1000px)
 {
 

 /******** center side *****/
  
.nav
{
       margin-left: 0px;
}
 .nav li
 {
    padding:  5px;
    font-size: 12px;
        
 }
 .home 
 {
     padding: 5;
     font-size: 12px;
     
  }
 
.nav li a 
{
     font-size: 12px;
 
}
 
 
 /******** right side *****/
 .right-side
 {
    margin-top: 10px;
 }
 
 .logoLeft img 
 {
    margin-left: 60px;
    width: 40%;
 }
 .logoLeft span 
{
    margin-left: 35px;
     font-size: 12px;
    line-height: 15px;
    color: #000;
}
 

 
.logoRight span
{
      font-size: 12px;
    line-height: 17px;
 }
 

 }


 


   /**************** media 1000-768 *****************/

   @media screen and (max-width:1000px)and (min-width:768px)
   {     
 
img
{
    width: 40%;
}

.text 
{
     padding-top: 20px;
        padding-left: 10px;

}
.history
{
    font-weight: 700;
    Color:#0b6861
}
.empty
{
    margin-top: 10px;
    background-color: #5ea09b;
    width: 2px ;
    height: 110px;
}
.text span 
{
    font-size: 11px;
}

    
    .nav 
    {
        display: none;
    }
     /******** right side *****/
     .right-side
     {
        margin-top: 10px;
     }
    
     .logoLeft img 
     {
        margin-left: 10px;
        width: 60%;
     }
     .logoLeft span 
    {
        margin-left: 5px;
         font-size: 10px;
        line-height: 12px;
        color: #000;
    }
     
    .logoRight img
    {
        width: 80%;
    }
     
    .logoRight span
    {
          font-size: 11px;
        line-height: 17px;
     }

     #show 
     {
        display: block;
        margin-top: 30px;
     }
     
   }


   @media screen and (max-width:768px)

   {
    
 .logo
 {
    padding:  0px ;
    
 }

 /******** left side *****/
 
img
{
    width: 20%;
}

.text 
{
     padding-top: 25px;
 
}
.nav 
{
    display: none;
}
 
     /******** right side *****/
     .right-side
     {
        margin-top: 20px ;
        
     }
    
     .logoLeft img 
     {
        margin-left: 50%;
         width: 17%;
     }
     .logoLeft span 
    {
          font-size: 9px;
         display: block;
         margin-left: 50%;
         font-weight: bolder;
    }
     
    .logoRight img
    {
        margin-right: 100%;
        width: 26%;
    }
     
    .logoRight span
    {
        margin-right: 60%;
          font-size: 9px;
        line-height: 17px;
        font-weight: bolder;

     }

     #show 
     {
        display: block;
        position: fixed;
        right: 12px;
        top: 10px;
    
     }

 
   }


      /**************** media 768 >>>> *****************/
